/* COMMON */
body {
}
a {
  text-decoration: none;
  color: #4a4a4a;
}
/* BLOCK */
header {
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(207, 207, 207, 0.5);
}
header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 64px;
  padding: 0 32px;
}

/* 로고 파트 */
header .inner .header__logo {
  font-size: 32px;
  flex-shrink: 0;
}
header .inner .header__logo a {
  font-family: "Indie Flower", cursive;
  color: green;
}
header .inner .header__logo a i {
}

/* 메뉴 파트 */
header .inner .header__menu {
  display: flex;
  font-size: 16px;
  height: 32px;
  flex-shrink: 0;
  margin: 20px;
}
header .inner .header__menu li {
  color: #4a4a4a;
  padding: 8px 16px;
}
header .inner .header__menu li a:hover {
  color: #1dc078;
}

/* 공간 파트 */
header .inner .header__space {
  flex-grow: 1;
}

/* 검색 파트 */
header .inner .header__search {
  height: 36px;
  font-size: 16px;
  position: relative;
  flex-shrink: 0;
  margin-right: 20px;
}
header .inner .header__search input {
  box-sizing: border-box;
  width: 148px;
  height: 34px;
  padding: 5px 9px;
  font-size: 16px;
  background-color: #f6f6f6;
  border-radius: 3px;
  border: none;
  color: #4a4a4a;
}
header .inner .header__search input:hover {
  border: 1px solid #c8c8c8;
}
header .inner .header__search input:focus {
  border: 1px solid #c8c8c8;
  outline-color: #1dc078;
  box-shadow: inset 0px 0px 0 2px #1dc078;
}
header .inner .header__search i {
  /* transform: translateX(-30px); */
  /* transform -> 위치를 가지고 있고 위치만 바뀌는거라 돋보기 이동으론 쓰지 말자 */
  position: absolute;
  right: 9px;
  margin: auto;
  height: 16px;
  top: 0;
  bottom: 0;
  /* 포지션 앱솔루트 수직정렬하는 방법은 마진 auto */
}

/* 로그인, 회원가입 파트 */
header .inner .header__login-join {
  display: flex;
  height: 34px;
  gap: 10px;
  flex-shrink: 0;
  /* flex아이템들끼리 사이를 떨어트릴때 gap을 써도 됨 */
}
header .inner .header__login-join .btn {
  height: 34px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  padding: 9px;
  border-radius: 3px;
  cursor: pointer;
}
header .inner .header__login-join .btn.btn--login {
  background-color: white;
  color: #4a4a4a;
}
header .inner .header__login-join .btn.btn--join {
  background-color: red;
  color: white;
}
